
#head{
  display: grid;
  grid-template-columns: auto;
  /* position: fixed; */
  /* justify-content: center; */
  top: 0;
  right: 50%;
  
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
  background-image: url('../public/nicesky.avif');
  background-repeat: no-repeat;
  background-size:cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.content{
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 100px; */
}



body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Sniglet-bold';
  color: #F3E7FA;
  animation: 1s ease infinite pulse;
  -webkit-text-stroke: 1px black;

  font-size: 3.2em;
  line-height: 1.1;
  display: grid;
}
h2{
  font-family: 'Sniglet-bold';
  -webkit-text-stroke: 1px black;
}

p{
  /* white-space: pre-wrap; */
  font-family: 'Sniglet-bold';
  font-feature-settings: "kern";
  inline-size: 19.0em;
  overflow-wrap: break-word;
  /* word-break: break-all; */
  position: absolute;
  text-align: center;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0; 
}

.shopList{
  display: grid; 
  grid-template-columns: 1fr;
  justify-items: start;
}

.groceylist{
  display: grid; 
  grid-template-columns: 1fr;
  justify-items: end;
}
ul{
  font-family: 'Sniglet-bold';
  -webkit-text-stroke: 1px black;

}
.cloud{
  color: black;
  background-color:#F3E7FA; 
  /* border-radius:  0 0 50px 50px; */
  /* background: */
  /* radial-gradient(35px 30px,#F3E7FA 98%,transparent 100%) 20% 30%  /70px    60px,
  radial-gradient(50px 45px,#F3E7FA 98%,transparent 100%) 50% 50%  /100px   90px,
  radial-gradient(50px     ,#F3E7FA 98%,transparent 100%) 100% 100%/100px   100px,
  radial-gradient(40px     ,#F3E7FA 98%,transparent 100%) 0 100%   /80px    80px, */
  /* base of the cloud */
  /* linear-gradient(#F3E7FA,#F3E7FA) bottom/100% 40px;; */
}
.cloud, .cloudshadow {
	width: 350px; height: 120px;
	background: #F3E7FA, transparent 100%;
	border-radius: 100px;
	position: relative;
	margin: 150px 50px;
}
.cloud:after, .cloud:before, .cloudshadow:after, .cloudshadow:before {
	content: '';
	position: absolute;
	background: #F3E7FA;
	z-index: 1
}

.cloud:after, .cloudshadow:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	border-radius: 100px;
}
.cloud:before, .cloudshadow:before  {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
}

button {
  width:10em;
  height: 2.67em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: default;

  /* transition: border-color 0.25s; */
}


/* img:hover{
  max-width: 50%;
  max-height: 50%;
} */
/* img:focus, 
img:focus-visible{
  outline: 4px auto -webkit-focus-ring-color;
} */
button:hover {
  border-color: #646cff;
  max-width: 100%;
  max-height: 100%; 
} 
 button:focus,
button:focus-visible {
  outline: blue
  /* outline: none !important; */
} 

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    -webkit-tap-highlight-color: transparent;
  }

}

img{
  max-width: 40%;
  max-height: 40%; 
}
@font-face {
  font-family: 'Weimar';
  src: url('./assets/weimar font/Weimar-Bold.eot');
  src: local('Weimar Bold'), local('Weimar-Bold'),
      url('Weimar-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/weimar font/Weimar-Bold.woff2') format('woff2'),
      url('./assets/weimar font/Weimar-Bold.woff') format('woff'),
      url('./assets/weimar font/Weimar-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Sniglet-bold';
  src: url('./assets/sniglet webfonts/Sniglet-webfont.eot'),
      url('Sniglet-webfont.eot?#iefix') format('embedded-opentype'),
      url('./assets/sniglet webfonts/Sniglet-webfont.woff') format('woff'),
      url('./assets/sniglet webfonts/Sniglet-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


